<h1>All The Tweets</h1>

<% for (var i = 0; i < tweets.length; i++) { %>
  <div class="tweet" data-tweet-id="<%= tweets[i].id %>">
    <%= tweets[i].attributes.content %>
    <div class="close">
      <span></span>
      <span></span>
    </div>
  </div>
<% } %>

<button>New Tweet</button>
